.category{
  width: 180px;
  height: 180px;
}

.category a{
  text-decoration: none;
  color: black;
}

.categoryImg{
  overflow: hidden;
  border-radius: 50%;
}
.categoryImg img{
  width: 100%;
}
.categoryTitle{
  text-align: center;
  font-size: 16px;
  margin-top:10px;
}