
.category a {
  text-decoration: none;
  color: black;
}

.categoryImg {
  overflow: hidden;
  border-radius: 8px;
  background-color: rgba(119, 119, 119, 0.078);
  width: 180px;
  height: 180px;
}
.categoryImg img {
  width: 100%;
}
.categoryTitle {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
